/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jura", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: "Jura", sans-serif;
}

a {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "Jura", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

ul {
  font-family: "Jura", sans-serif;
  list-style-type: none;
  padding-left: 0;
}